@model ArticlesApp.Models.Article


<h2 class="text-center mt-5">Adaugare articol</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post" action="/Articles/New">

                @Html.Label("Title", "Titlu Articol")
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control" })
                <br /><br />

                @Html.Label("Content", "Continut Articol")
                <br />
                @Html.TextArea("Content", null, new { @class = "form-control" })
                <br /><br />

                <label>Selectati categoria</label>
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
                "Selectati categoria", new { @class = "form-control" })
                <br />

                <button class="btn btn-success" type="submit">Adauga articol</button>

            </form>
        </div>
    </div>
</div>








